<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodaysBlog</title>
    <link rel="stylesheet" href="style/styles.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-logo">TodaysBlog</div>
      <ul class="navbar-link">
        <li><a href="/">Home</a></li>
        <li>
          <a href="/new_post">New Blog</a>
        </li>
        <li><a href="/view_post">View Blog</a></li>
        <li><a href="#">Update Blog</a></li>
        <li><a href="#">Delete Blog</a></li>
      </ul>
      <div class="navbar-toggle" onclick="toggleNavbar()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>

    <script>
      function toggleNavbar() {
        const navbarLink = document.querySelector(".navbar-link");
        navbarLink.classList.toggle("show");
      }
    </script>
  </body>
</html>
