<style>
  h3 {
    font-family: cursive;
    font-size: 30px;
    color: gray;
    text-align: center;
    margin-top: 90px;
  }
  .form {
    max-width: 200px;
    margin: auto;
    padding: 20px;
    border: 3px grey solid;
    border-radius: 10px;
  }
  label {
    display: block;
    margin-bottom: 8px;
    color: aliceblue;
    font-family: cursive;
  }
  input {
    /* width: 100%; */
    padding: 8px;
    margin-bottom: 16px;
    border: none;
    border-radius: 6px;
  }
  textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: none;
    border-radius: 6px;
  }
  button {
    background-color: white;
    padding: 3px 6px;
    border: none;
    font-family: cursive;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: gray;
    color: white;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    form {
      max-width: 768px;
    }
  }
</style>
<body>
  <h3>New Post</h3>
  <form action="/new_post" method="post" class="form">
    <label for="postTile">Title:</label>
    <input type="text" name="postTile" placeholder="Enter Title" required />

    <label for="postContent">Post:</label>
    <textarea
      name="postContent"
      cols="20"
      placeholder="Enter content"
      required
    ></textarea>

    <button type="submit">Publish</button>
  </form>
</body>
